body {
    background: wheat;
}

 .navbar-m {
    margin-top: -3rem;
    
 }
 .navbar-m .nav-item .nav-link {
    font-family: 'papyrus';
    font-size: 2rem;
    color: black;
 }
 .img-hero {
    margin-top: 1rem;
    width: 75rem;
    height: 25rem;
    object-fit: cover;
}
 .about-banner {
   width:80rem;
   height: 24rem;
   object-fit: cover;
}
.contact {
   background: no-repeat url('../src/images/bg.jpg');
   background-size: cover;
   width: 100%;
   height: 20rem;
}

.pb4 {
   padding-top: 4rem;
}
.contact-text{
 font-family: 'Comic Sans MS';
 margin-left: 6rem;  
 

}